DISCORD_TOKEN=token for the discord bot
OPENROUTER_API_KEY=your open router key here .it will use mistrall small 4 and gpt-4o-mini
APP_DATA_PATH=/app/data
APP_PERSONALITY_PATH=/app/data/personality.md
