DISCORD_TOKEN=your_discord_bot_token
#it will use mistrall small 4 and gpt-4o-mini
OPENROUTER_API_KEY=your_openrouter_api_key
APP_DATA_PATH=/app/data
APP_PERSONALITY_PATH=/app/data/personality.md
APP_CONFIG_PATH=/app/data/config.txt