services:
  faustai:
    image: ghcr.io/dawid2077/discord_bot:v1
    container_name: FaustAi
    restart: unless-stopped
    environment:
      - DISCORD_TOKEN=your_discord_token_here
      - OPENROUTER_API_KEY=your_openrouter_mistral_token_here
      - APP_DATA_PATH=/app/data
      - APP_PERSONALITY_PATH=/app/data/personality.md
    volumes:
      - ./data:/app/data